* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: monospace;
}

a {
  text-decoration: none;
  display: inline;
  color: #333;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
header .header-icons {
  width: 100%;
  display: grid;
  background-color: #59d4db;
  /* background-color: #333; */
}
header .header-icons__container {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: end;
  margin-right: 50px;
}
.header-icons__container img {
  width: 30px;
  height: 30px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav .logo-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

nav .logo-container img {
  width: 150px;
}

nav .profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile-container a {
  color: #333;
  border-bottom: 1px solid #333;
  font-size: 1.8rem;
}

/* Home Main */

.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: calc(100vh - 140px);
  background-image: url("../assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
  align-items: center;
}

.home-main__title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 10px;
  color: #333;
}
.home-main__button {
  width: 110px;
  height: 50px;
  align-items: center;
  border-radius: 8px;
  background-color: #333;
}
.home-main__button a {
  font-family: monospace;
  font-weight: 700;
  font-size: 1.8rem;
  color: #59d4db;
}
/* From here we start with blogs.html */
.blogs-main {
  display: grid;
}
.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0 50px 40px;
  margin-bottom: 30px;
}
.blogs-news-container__left {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}
.blogs-news-container__left h3 {
  margin-left: 100px;
  padding: 10px 0;
  font-size: 2rem;
  color: #333;
  font-weight: 700;
}
.blogs-news-container__img {
  grid-column: 1;
  display: grid;
  justify-items: center;
}
.blogs-news-container__img img {
  width: 80%;
  border-radius: 5px;
}

.blogs-news-container__right {
  grid-column: 2;
  padding: 50px;
  margin-top: 50px;
}
.blogs-news-container__right h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}
.blogs-news-container__right p {
  font-size: 2rem;
  line-height: 2.8rem;
  margin-top: 10px;
  color: #333;
}
.blogs-button {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  padding: 10px 15px;
  margin-top: 30px;
  border: 1px solid #59d4db;
  border-radius: 8px;
  background-color: #333;
  color: #59d4db;
}
.blogs-posts-container {
  padding: 0 50px 40px;
}
.blogs-posts-container h3 {
  font-size: 2rem;
  color: #333;
  border-bottom: 2px solid #e6e9ed;
  padding-bottom: 30px;
  text-align: center;
}
