* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: monospace;
}

a {
  text-decoration: none;
  display: inline;
  color: #333;
}

header {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
header .header-icons {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}
header .header-icons__container {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: end;
  margin-right: 50px;
}
.header-icons__container img {
  width: 30px;
  height: 30px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .logo-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

nav .logo-container img {
  width: 100px;
}

nav .profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile-container a {
  color: #333;
  border-bottom: 1px solid #333;
  font-size: 1.8rem;
}
